# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/

# Environment variables
.env

# Large datasets
data/raw/
data/processed/

# Extracted frames
data/frames/

# Model weights
*.pt
*.pth
*.onnx

# Experiment outputs
experiments/runs/
experiments/outputs/

# OS files
.DS_Store
Thumbs.db

# VS Code
.vscode/